#html{
    margin-top: 120px;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 30px;
    margin-top: 10px;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word; /*Перенос строк добавляется автоматически,
                                чтобы слово поместилось в заданную ширину блока.*/
}

.nav-item {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
}


h1 {
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h1 span {
    background:#fff;
    padding:0 10px;
}

#npm, #css, #js, #ajax-json, #parcel {
    margin-top: 70px;
}

#parcel {
    margin-bottom: 70px;
}

html {
    scroll-behavior: smooth;
}

.hide{
    display: none;
}
